
/* BASE STYLES ========================================= */

* {
  box-sizing: border-box;
  /* font-size: 16px; */
  /* text-align: center; */
}

/* .clearfix::after {
  display: table:
  clear: both;
  content: "";

  .	font-family: 'Averia Libre', cursive;
  .	font-family: 'Lato', sans-serif;
  .	font-family: 'Raleway', sans-serif;
  .	font-family: 'Ubuntu', sans-serif;
  .	font-family: 'Tajawal', sans-serif;
} */

/* multiple images stacked in a container*/
/* body {
    url(logo.png) bottom center no-repeat,
    url(background-pattern.png) repeat;
} */

body {
    margin: 0;
    padding: 0;
    font-family: 'Averia Libre', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

section {
    background: pink;
    height: 100vh;
}

section:nth-child(2n + 1) {
    /* #514740 = brown */
    background-color: #514740;
    padding: 3em;
}

section:nth-child(2n + 0) {
    background-color: transparent;
    padding: 3em;
}

li {
    list-style: none;
}

p {
    text-transform: none;
    font-family: 'Raleway', sans-serif;
}

h2 {
    padding-top: .8em;
}

/* HEADER ========================================= */

.bg-img{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 110vh;
  /* width: 100vw; */
}

header {
    height: 80vh;
    background-color: transparent;
}

header nav {
    z-index: 1;
    /* background: #514740; */
    background: #645951;
    height: 4em;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100vw;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, .2);

}

a {
    text-decoration: none;
    padding: 1.4em 2.5em;
    color: #fff;

    /* Alt option */
    /* text-decoration: none;
    padding: 1em 2.5em;
    font-size: 1.5em;
    color: #37312d;
    text-shadow: 2px 1px 2px #8c837c; */
}

a:hover {
    /* color: #f2c9ba; */
    color: #e0b3a3;

    /* Alt option */
    /* color: #e0b3a3;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, .2); */
}

header h1 {
    margin-top: 3em;
    font-size: 5em;
}

.flex-container {
    display: flex;
    flex-direction: row;
}


/* HIGHLIGHTS ========================================= */

.carousel {
    width: 80%;
    margin: 0 auto;
}

.carousel img {
    width: 100%;
}


/* PROJECTS ========================================= */


#project-tiles {
    display: flex;
    flex-wrap: wrap;
    margin-right: .4em;
    width: 33%;
}

#project-tiles img {
    max-width: 64%;
    margin: 2px;
}

.project-thumbnail-img {
    background: url(../images/astrology-astronomy-beautiful-566169.jpg) center;
    background-size: cover;
    /* height: 33%; */
    width: 47%;
    margin: 2px;
}

#project-details {
    /* e16d43 = orange */
    width: 67%;
    height: 70vh;
    background-color: #fff;
    border-radius: 2em;
    padding: 1em;
    color: black;
}

.detail-container {
    display: flex;
    margin: 0 5em;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

#project-details ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#project-details li {
    padding-right: 3em;
}

.detail-img-container {
    /* background: url(../images/test.png); */
    background: url(../images/astrology-astronomy-beautiful-566169.jpg) center;
    background-size: cover;
    padding: 2em;
    height: 40%;
    width: 60%;
    margin: 0 auto;
}


/* ABOUT ========================================= */

#about p {
    margin: 0 auto;
    padding: 5em;
}

/* CONTACT ========================================= */

form {
    display: inline-block;
    width: 50%;
}

.contact {
    /* e16d43 = orange */
    background-color: #e16d43;
    padding: 2em;
    border-radius: 20px;
}

.contact .row div {
    width: 100%;
}

.contact .row {
    padding: 2em;
}

input, textarea {
    margin: .5em auto;
    padding: 1em 1em;
    font-weight: bold;
    border: 2px solid #e16c43;
    background-color: rgba(255, 255, 255, .5);
    color: #514740;
    border-radius: 8px;
    width: 100%;
}

textarea {
    height: 200px;
}

.contact-button {
    width: 100px;
}

/* FOOTER ========================================= */

footer {
    margin: 3em auto;
}

footer a {
    font-size: 2em;
    padding: 1em;
}

/* MEDIA QUERIES ========================================= */
/*
@media screen and (max-width: 425px){
    html {
        font-size: 12pt;
    }
}
 */
