
/* BASE STYLES ========================================= */

* {
  box-sizing: border-box;
  /* font-size: 16px; */
  /* text-align: center; */
}

/* .clearfix::after {
  display: table:
  clear: both;
  content: "";

  .	font-family: 'Averia Libre', cursive;
  .	font-family: 'Lato', sans-serif;
  .	font-family: 'Raleway', sans-serif;
  .	font-family: 'Ubuntu', sans-serif;
  .	font-family: 'Tajawal', sans-serif;
} */

/* multiple images stacked in a container*/
/* body {
    url(logo.png) bottom center no-repeat,
    url(background-pattern.png) repeat;
} */

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

section {
    /* height: 100vh; */
    overflow: hidden;
    padding: 3em;
}

section:nth-child(2n + 1) {
    /* #514740 = brown */
    background-color: #514740;
}

section:nth-child(2n + 0) {
    background-color: transparent;
}

li {
    list-style: none;
}

p {
    text-transform: none;
    line-height: 1.5em;
}

h2 {
    padding-top: .8em;
    letter-spacing: 1em;
}

/* h3 {
    padding-top: .8em;
    letter-spacing: .2em;
} */

button {
    padding: 1em 2em;
        text-transform: uppercase;
        font-size: 1.6em;
        box-shadow: 0 0 15px rgb(225, 107, 67);
        border: 3px solid rgb(225, 108, 67);
        background-color: rgb(116, 100, 88);
        color: #3f3732;
        font-weight: bold;
}

/* HEADER ========================================= */

.bg-img{
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100vw;
}

header {
    height: 80vh;
    background-color: transparent;
    font-family: 'Averia Libre', sans-serif;
}

header nav {
    z-index: 1;
    background: #645951;
    height: 4em;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    margin: 0 auto;
    width: 100vw;
    box-shadow: 0px 7px 20px 0px rgba(0, 0, 0, .2);
}

a {
    text-decoration: none;
    padding: 1.4em 2.5em;
    color: #fff;

}

a:hover {
    /* color: #f2c9ba; */
    color: #e0b3a3;

}

header h1 {
    margin-top: 3em;
    font-size: 5em;
}

ul {
    padding-left: 0;
}

/* HIGHLIGHTS ========================================= */

.carousel {
    width: 80%;
    margin: 0 auto;
}

.carousel img {
    width: 100%;
    overflow: hidden;
}

/* PROJECTS ========================================= */

/* #project {
    height: 100vh;
} */

.project-container {
    display: flex;
    flex-direction: row;
    padding-top: 2em;
    /* height: 100vh; */
}

#project-tiles {

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    margin-right: .4em;
    width: 33%;
}

#project-tiles img {
    max-width: 80%;
    margin: 2px;
}

.project-img {
    background: url(../images/monument-img1.png) center;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 2px auto;
}

#project-details {
    /* e16d43 = orange */
    width: 70%;
    height: 80%;
    background-color: transparent;
    border-radius: 2em;
    padding: 1em;
    color: #fff;
}

.detail-container {
    display: flex;
    margin: 0 auto;
    height: 100%;
    width: 80%;
    flex-direction: column;
    justify-content: space-around;
}

.detail-container ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.detail-container li {
    padding: 0 1em;
    font-size: 1.2em;
}

/* .detail-container p {
    display: inline-block;
    width: 30%:
    font-size: 1.2em;
} */


/* ABOUT ========================================= */

#about p {
    margin: 0 auto;
    padding: 5em;
}

/* CONTACT ========================================= */

form {
    display: inline-block;
    width: 50%;
}

.contact {
    /* e16d43 = orange */
    background-color: #e16d43;
    padding: 2em;
    border-radius: 20px;
}

.contact .row div {
    width: 100%;
}

.contact .row {
    padding: 2em;
}

input, textarea {
    margin: .5em auto;
    padding: 1em 1em;
    font-weight: bold;
    border: 2px solid #e16c43;
    background-color: rgba(255, 255, 255, .5);
    color: #514740;
    border-radius: 8px;
    width: 100%;
}

textarea {
    height: 200px;
}

.contact-button {
    width: 100px;
}

/* FOOTER ========================================= */

footer {
    margin: 3em auto;
}

footer a {
    font-size: 2em;
    padding: 1em;
}

/* MEDIA QUERIES ========================================= */
/*
@media screen and (max-width: 425px){
    html {
        font-size: 12pt;
    }
}
 */
